In [1]:
import pandas as pd


# 基因片段 A, 體重過重, 高血壓, 腦中風 

data_table = [
    [1,1,1,0],
    [0,0,0,1],
    [0,1,0,0],
    [1,0,0,0],
    [1,1,0,1],
    [1,0,0,1],
    [0,1,1,1],
    [0,0,0,0],
    [1,0,1,0],
    [0,1,0,1]
]



variables = ['gene_A', 'Overweight', 'hypertension', 'Stroke']


df = pd.DataFrame(data_table, columns=variables)
df

   gene_A  Overweight  hypertension  Stroke
0       1           1             1       0
1       0           0             0       1
2       0           1             0       0
3       1           0             0       0
4       1           1             0       1
5       1           0             0       1
6       0           1             1       1
7       0           0             0       0
8       1           0             1       0
9       0           1             0       1

In [2]:
# features 
df.iloc[:, :2]

   gene_A  Overweight
0       1           1
1       0           0
2       0           1
3       1           0
4       1           1
5       1           0
6       0           1
7       0           0
8       1           0
9       0           1

In [3]:
X = df.iloc[:, :2].values

In [4]:
y1 = df.iloc[:, 2].values

In [5]:
y2 = df.iloc[:, 3].values

In [6]:
# 訓練模型
from sklearn.naive_bayes import GaussianNB
clf1 = GaussianNB().fit(X,y1)
clf2 = GaussianNB().fit(X,y2)

In [7]:
# 預測 高血壓
p1 = [[0,1]]
clf1.predict(p1)

array([0], dtype=int64)

In [8]:
# 預測 中風
p2 = [[0,1]]
clf2.predict(p2)

array([1], dtype=int64)

In [1]:
from sklearn import datasets
import numpy as np

iris = datasets.load_iris()
X = iris.data

y = iris.target

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [7]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, y_train)

y_pred = gnb.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score

print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.98